.homeColumn {
    position: relative;
    padding: 0 10%;
    z-index: 1;
}

.yieldButton {
    width: 80px;
    background-color: #DC5355;
    border: 0;
    border-radius: 4px;
    opacity: 0.8;
    padding: 10px;
    width: 156px;
    height: 48px;
    color: #FFF;
    cursor: pointer;
}

.yieldButton:hover {
    opacity: 1;
}

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.line {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #DC5355;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.lineSpan {
    background: #0D0D0D;
    padding: 0 10px;
    color: #DC5355;
}

.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    background-color: transparent;
    opacity: 1;
    margin-top: 300px;
    z-index: 1;
}