.homeColumn {
    position: relative;
    padding: 0 10%;
    z-index: 1;
}

.yieldButton {
    width: 80px;
    background-color: #DC5355;
    border: 0;
    border-radius: 4px;
    opacity: 0.8;
    padding: 10px;
    width: 156px;
    height: 48px;
    cursor: pointer;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.yieldButton:hover {
    opacity: 1;
}

.learnMore {
    border: 0;
    background: transparent;
    color: #DC5355;
    font-size: 16px;
    padding-top: 10px;
}

.sectionHeader {
    font-size: 24px;
    padding-bottom: 10px;
    color: #FFF;
}

.vaultHeader {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.18px;
    color: #FFFFFF;
}

.teamText {
    padding-bottom: 20px;
    width: 500px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.74);
}

.teamHeader {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 5px;
}

.perpHeader {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    align-self: flex-start;
    margin: 0;
}

.marketMakingVault {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    background: linear-gradient(149.95deg, rgba(153, 40, 41, 0.201) 0%, rgba(220, 83, 85, 0.03) 98.33%);
    border: 1px solid #474747;
    box-sizing: border-box;
    border-radius: 8px;
    height: 510px;
    width: 343px;
}

.apy {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.18px;
    color: #FFFFFF;
    align-self: center;
}

.vaultText {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.25px;
    /* Text/Secondary */
    color: rgba(255, 255, 255, 0.74);
}

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.line {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #DC5355;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.lineSpan {
    background: #0D0D0D;
    padding: 0 10px;
    color: #DC5355;
}

.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    background-color: transparent;
    opacity: 1;
    margin-top: 300px;
    z-index: 1;
}