.video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 0;
}

.videoWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}