.transferSection {
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
}

.innerTransfer {
    background-color: #1A1A1A;
    border: 1px solid #474747;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

.positionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 18px;
    color: #bfb6b6;
}

.walletBalanceRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 18px;
    color: #bfb6b6;
}

.walletBalance {
    font-size: 11px;
}

.transactionButton {
    height: 55px;
    width: 220px;
    border: 0;
    background-color: #1A1A1A;
}

.valueInputRow {
    display: flex;
    align-items: center;
    margin: 4px 10px;
    background-color: #232424;
    border-radius: 2px;
}

.maxButton {
    margin: 4px;
    height: 24px;
    width: 42px;
    display: flex;
    align-items: center;
    background: #343636;
    border: 0;
    border-radius: 2px;
}

.amountField {
    flex: 1 1 400px;
    height: 56px;
    padding: 5px;
    border: 0;
    background-color: #232424;
    color: #bfb6b6;
    text-align: right;
    font-size: 24px;
}

.currency {
    padding: 0px 10px;
}

.displayRow {
    display: flex;
}

.actionButton {
    flex: 1 1 400px;
    background: #DC5355;
    border-radius: 2px;
    margin: 20px 10px 10px 10px;
    height: 48px;
    border: 0;
    color: #FFFFFF;
}

.active {
    border-bottom: 1px solid #DC5355;
}