.vaultSection {
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    background-color: #131313;
    flex-grow: 1;
    align-items: stretch;
}

@media (max-width: 1000px) {
    .vaultTransactions {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .vaultSection {
        padding: 0px 3%;
    }
}

.vaultDeposits {
    flex: 1 1 15%;
}

.vaultPerformance {
    flex: 1 1 15%;
    border: 2px solid #F7931A;
    border-radius: 4px;
}

.vaultTransactions {
    display: flex;
    flex: 1 0 auto;
}