.sectionHeader {
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: 500;
    font-size: 20px;
}

.dataEntry {
    display: flex;
    align-items: center;
    justify-content: space-around;
}